<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wish Board</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">

</head>

<body style="background-color: whitesmoke">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <h1 class="text-center mt-4 text-primary">Wish Board</h1>
                <h5 class="text-center mt-3">Please update your details</h5>
            </div>


            <div class="col-lg-6 mx-auto mt-4 mb-5">
                <form class="form" action="{% url 'update' wishes.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name"><strong>Your Name:</strong></label>
                        <input type="text" name="name" class="form-control" value="{{ wishes.name }}" required minlength="3"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength = "10">

                        <label class="mt-3" for="wish"><strong>Your Wish:</strong></label>
                        <input name="wish" class="form-control"
                            required value="{{ wishes.wish }}" minlength="15"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength = "75">

                        <button type="submit" class="btn btn-block btn-warning mt-3"> <i class="fas fa-edit"></i>
                            Update</button>
                            

                </form>
            </div>
        </div>

    </div>





</body>

</html>